#player
{
  width:400px;
  align-center;
}

#screen
{
  height:400px;
  width:390px
  padding:5px;
  border:2px solid black;
  margin:5px;
}

#frame
{
  text-align:center;
}

#play
{
  background-color:#00ff00;
  height:17px;
  width:30px;
  padding:1px;
  border:2px solid black;
  margin:1px;
  margin-left:5px;
  display:inline;
 }
 
 #stop
 {
   background-color:#ff0000;
   height:17px;
   width:30px;
   padding:1px;
   border:2px solid black;
   margin:1px;
   display:inline;
 }